.app-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  /*this is for centering the app*/
  margin: auto;
  /* 100vh means 100% of the height of the browser*/
  height: 100vh;
}

.welcome-text {
  opacity: 0.5;
  text-align: center;
}
